.App {
  font-family: sans-serif;
  text-align: center;
}
Modal {
    width: 90%; 
}
.react-grid-Cell {
   -webkit-user-select: text;
   -moz-user-select: text;
   -ms-user-select: text;
   user-select: text;
}